@using System.Globalization;
@using TeleGramReport.Models;
@model List<DashBoardModel>
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="content-wrapper pb-0">
    <div class="row">
        <div class="col-xl-3 col-lg-12 stretch-card grid-margin">
            <div class="row">
                @{
                    CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");

                    int count = 0;
                    string[] icons = { "mdi mdi-chart-bar", "mdi mdi-chart-areaspline", "mdi mdi-chart-histogram", "mdi mdi-chart-pie" };
                    foreach (var item in Model)
                    {
                        <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                            <div class="card">
                                <div class="card-body px-3 py-4">
                                    <div class="d-flex justify-content-between align-items-start">
                                        <div class="color-card">
                                            <h3 class="mb-1 survey-head">@item.Location</h3>
                                            <h4 class="mb-1 survey-value">
                                                @{
                                                    string b = "0";
                                                    string colorclass = "text-danger";
                                                    if (item.Value > 0)
                                                    {
                                                        b = "+" + item.Value.ToString("#,###", cul.NumberFormat);
                                                        colorclass = "text-success";
                                                    }
                                                    else if (item.Value < 0)
                                                    {
                                                        b = "-" + item.Value.ToString("#,###", cul.NumberFormat);
                                                    }
                                                }
                                                Điểm:<span class="ml-1 @colorclass">@b</span>

                                            </h4>
                                            <h4 class="mb-1 text-dard">
                                                @{
                                                    string a = "0";
                                                    string color1class = "text-danger";
                                                    if (item.EARN > 0)
                                                    {
                                                        a = "+" + item.EARN.ToString("#,###", cul.NumberFormat);
                                                        color1class = "text-success";

                                                    }
                                                    else if (item.EARN < 0)
                                                    {
                                                        a = "-" + item.EARN.ToString("#,###", cul.NumberFormat);
                                                    }
                                                }
                                                Thắng/thua: <span class="ml-1 @color1class">@a</span>

                                            </h4>


                                        </div>
                                        <i class="card-icon-indicator @icons[count] bg-inverse-icon-primary"></i>
                                    </div>
                                    <h6 class="text-dark">Ngày: @item.Date.ToString("dd/MM/yyyy")</h6>
                                </div>
                            </div>
                        </div>

                        count++;
                    }
                }

                @*  <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                <div class="card bg-danger">
                <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                <div class="color-card">
                <p class="mb-0 color-card-head">@Model[0].Location</p>
                <h2 class="text-white">
                $5,300.<span class="h5">00</span>
                </h2>
                </div>
                <i class="card-icon-indicator mdi mdi-cube-outline bg-inverse-icon-danger"></i>
                </div>
                <h6 class="text-white">13.21% Since last month</h6>
                </div>
                </div>
                </div>
                <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
                <div class="card bg-primary">
                <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                <div class="color-card">
                <p class="mb-0 color-card-head">Orders</p>
                <h2 class="text-white">
                $1,753.<span class="h5">00</span>
                </h2>
                </div>
                <i class="card-icon-indicator mdi mdi-briefcase-outline bg-inverse-icon-primary"></i>
                </div>
                <h6 class="text-white">67.98% Since last month</h6>
                </div>
                </div>
                </div>
                <div class="col-xl-12 col-md-6 stretch-card pb-sm-3 pb-lg-0">
                <div class="card bg-success">
                <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                <div class="color-card">
                <p class="mb-0 color-card-head">Affiliate</p>
                <h2 class="text-white">2368</h2>
                </div>
                <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
                </div>
                <h6 class="text-white">20.32% Since last month</h6>
                </div>
                </div>
                </div>*@
            </div>
        </div>
        <div class="col-xl-9 stretch-card grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card mb-3 mb-sm-0">
                                <div class="card-body py-3 px-4">
                                    <p class="m-0 survey-head">Today Earnings</p>
                                    <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                                        <div>
                                            <h3 class="m-0 survey-value">$5,300</h3>
                                            <p class="text-success m-0">-310 avg. sales</p>
                                        </div>
                                        <div id="earningChart" class="flot-chart" style="padding: 0px;"><canvas class="flot-base" width="64" height="51" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 64px; height: 51px;"></canvas><canvas class="flot-overlay" width="64" height="51" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 64px; height: 51px;"></canvas></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card mb-3 mb-sm-0">
                                <div class="card-body py-3 px-4">
                                    <p class="m-0 survey-head">Product Sold</p>
                                    <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                                        <div>
                                            <h3 class="m-0 survey-value">$9,100</h3>
                                            <p class="text-danger m-0">-310 avg. sales</p>
                                        </div>
                                        <div id="productChart" class="flot-chart" style="padding: 0px;"><canvas class="flot-base" width="64" height="51" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 64px; height: 51px;"></canvas><canvas class="flot-overlay" width="64" height="51" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 64px; height: 51px;"></canvas></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-body py-3 px-4">
                                    <p class="m-0 survey-head">Today Orders</p>
                                    <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                                        <div>
                                            <h3 class="m-0 survey-value">$4,354</h3>
                                            <p class="text-success m-0">-310 avg. sales</p>
                                        </div>
                                        <div id="orderChart" class="flot-chart" style="padding: 0px;"><canvas class="flot-base" width="64" height="51" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 64px; height: 51px;"></canvas><canvas class="flot-overlay" width="64" height="51" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 64px; height: 51px;"></canvas></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-sm-12">
                            <div class="flot-chart-wrapper">
                                <div id="flotChart" class="flot-chart" style="padding: 0px;">
                                    <canvas class="flot-base" width="1162" height="276" style="width: 1162.75px; height: 276px;"></canvas>
                                    <canvas class="flot-overlay" width="1162" height="276" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1162.75px; height: 276px;"></canvas><div class="flot-svg" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; pointer-events: none;"><svg style="width: 100%; height: 100%;"><g class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; inset: 0px;"><text x="0.4609375" y="271.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">2000</text><text x="995.3027096518987" y="271.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">5500</text><text x="142.58119066455697" y="271.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">2500</text><text x="284.70144382911394" y="271.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">3000</text><text x="426.82169699367086" y="271.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">3500</text><text x="568.9419501582279" y="271.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">4000</text><text x="711.0622033227849" y="271.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">4500</text><text x="853.1824564873417" y="271.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">5000</text></g></svg></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <p class="text-muted mb-0">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore. <b>Learn More</b>
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p class="mb-0 text-muted">Sales Revenue</p>
                            <h5 class="d-inline-block survey-value mb-0"> $2,45,500 </h5>
                            <p class="d-inline-block text-danger mb-0"> last 8 months </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>